* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    background-color: #222;
    background-image: url("img/backstage.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
header {
    /* Estructura */
    display: flex;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: 999;
    top: 0;

    /* Diseño */
    color: #fff;
    background-color: #181818;

}

.opacity{  
    width: 100%;
    height: 92.4vh;
    background-color: #00000071
}
.menu__poke-selection {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.menu__pokemon-container{
    display: flex;
    gap: 20px;
}
.pokemon {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.movimientos {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 333;
    top: 300px;
    left: 70px;
}

.move{
    width: 100px;
    height: 40px;
}